<div class="customer-address__edit-form">
  <div class="add-new-address__top">
    <span class="add-new-address__heading font-size-32 font-size-mobile-20 font-weight-600">
      {{- 'customer.addresses.edit_address' | t -}}
    </span>
  </div>
  {% form 'customer_address', address %}
    <div class=" grid grid-cols-2 gap-16">
      {%- assign firstNameLabel = 'customer.addresses.first_name' | t -%}
      {%- assign firstNamePlaceholder = 'customer.addresses.first_name' | t -%}
      {%
        render 'input',
        type: 'text',
        id="AddressFirstNameNew"
        name="address[first_name]"
        label: firstNameLabel,
        placeholder: firstNamePlaceholder,
        autocomplete: '',
        required: false,
        class: '',
        value: address.first_name,
      %}

      {%- assign lastNameLabel = 'customer.addresses.last_name' | t -%}
      {%- assign lastNamePlaceholder = 'customer.addresses.last_name' | t -%}
      {%
        render 'input',
        type: 'text',
        id="AddressLastNameNew"
        name="address[last_name]"
        label: lastNameLabel,
        placeholder: lastNamePlaceholder,
        autocomplete: '',
        required: false,
        class: '',
        value: address.last_name,
      %}

      {%- assign companyLabel = 'customer.addresses.company' | t -%}
      {%- assign companyPlaceholder = 'customer.addresses.company' | t -%}
      {%
        render 'input',
        type: 'text',
        id="AddressCompanyNew"
        name="address[company]"
        label: companyLabel,
        placeholder: companyPlaceholder,
        autocomplete: '',
        required: false,
        class: '',
        value: address.company,
      %}

      {%- assign address1Label = 'customer.addresses.address1' | t -%}
      {%- assign address1Placeholder = 'customer.addresses.address1' | t -%}
      {%
        render 'input',
        type: 'text',
        id="AddressAddress1New"
        name="address[address1]"
        label: address1Label,
        placeholder: address1Placeholder,
        autocomplete: '',
        required: false,
        class: '',
        value: address.address1,
      %}

      {%- assign address2Label = 'customer.addresses.address2' | t -%}
      {%- assign address2Placeholder = 'customer.addresses.address2' | t -%}
      {%
        render 'input',
        type: 'text',
        id="AddressAddress2New"
        name="address[address2]"
        label: address2Label,
        placeholder: address2Placeholder,
        autocomplete: '',
        required: false,
        class: '',
        value: address.address2,
      %}

      {%- assign provinceLabel = 'customer.addresses.province' | t -%}
      {%- assign provincePlaceholder = 'customer.addresses.province' | t -%}
      {%
        render 'input',
        type: 'text',
        id="AddressProvinceNew"
        name="address[province]"
        label: provinceLabel,
        placeholder: provincePlaceholder,
        autocomplete: '',
        required: false,
        class: '',
        value: address.province,
      %}
      {%- assign cityLabel = 'customer.addresses.city' | t -%}
      {%- assign cityPlaceholder = 'customer.addresses.city' | t -%}
      {%
        render 'input',
        type: 'text',
        id="AddressCityNew"
        name="address[city]"
        label: cityLabel,
        placeholder: cityPlaceholder,
        autocomplete: '',
        required: false,
        class: '',
        value: address.city,
      %}

      <div class="label-input-container--flex">
        <label for="AddressCountryNew" class="label-input font-size-12 font-size-mobile-12 font-weight-600">
          {{- 'customer.addresses.country' | t -}}
        </label>

        <div class="customer-address__country input svg-container svg-container--left common-form__field">
          <select
            tabindex="0"
            name="address[country]"
            placeholder="{{ 'customer.addresses.country' | t }}"
            class="input customer-address__country-select font-size-14 font-size-mobile-12"
            data-default-country="{{ form.country }}"
            data-country-select="{{ address.id }}"
            id="AddressCountryNew"
          >
            {{ all_country_option_tags }}
          </select>
        </div>
      </div>

      {%- assign zipLabel = 'customer.addresses.zip' | t -%}
      {%- assign zipPlaceholder = 'customer.addresses.zip' | t -%}
      {%
        render 'input',
        type: 'text',
        id="AddressZipNew"
        name="address[zip]"
        label: zipLabel,
        placeholder: zipPlaceholder,
        autocomplete: '',
        required: false,
        class: '',
        value: address.zip,
      %}

      {%- assign phoneLabel = 'customer.addresses.phone' | t -%}
      {%- assign phonePlaceholder = 'customer.addresses.phone' | t -%}
      {%
        render 'input',
        type: 'tel',
        id="AddressPhoneNew"
        name="address[phone]"
        label: phoneLabel,
        placeholder: phonePlaceholder,
        autocomplete: '',
        required: false,
        class: '',
        value: address.phone,
      %}

      <div class="customer-address__checkbox">
        {{ form.set_as_default_checkbox }}
        <label
          for="address_default_address_{{ form.id }}"
          class="customer-addresses-set_default font-size-14 font-size-mobile-14 font-weight-400"
        >
          {{ 'customer.addresses.set_default' | t }}
        </label>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-16">
      <button
        class="button--solid border-none rounded-12 cursor-pointer ff-general-sans fw-600  fs-16-lh-100pct-ls-0 "
        id="customer-address-update-id"
      >
        {{ 'customer.addresses.save' | t }}
      </button>

      <button
        data-address="{{ address.id }}"
        class="button--solid border-none rounded-12 cursor-pointer ff-general-sans fw-600  fs-16-lh-100pct-ls-0"
        type="reset"
        id="customer-address-update-cancel-id"
      >
        {{ 'customer.addresses.cancel' | t }}
      </button>
    </div>
  {% endform %}
</div>
