{% if item.variant.compare_at_price and item.variant.compare_at_price > item.variant.price %}
  {%- assign discount = item.variant.compare_at_price | minus: item.variant.price -%}
  {%- assign discount_percentage = discount | times: 100.0 | divided_by: item.variant.compare_at_price | round -%}

  <dl class="cart-drawer__item-discounted-prices flex items-center gap-8 flex-wrap">
    <dt class="hidden">{{ 'products.product.price.sale_price' | t }}</dt>
    <dd class="cart-drawer__item-new-price text-brand fs-16-lh-22-ls-0 fw-400">
      ৳{{ item.variant.price | money_without_currency }}
    </dd>
    <dt class="hidden">{{ 'products.product.price.regular_price' | t }}</dt>
    <dd class="cart-drawer__item-old-price fs-14-lh-16-ls-0 fw-500 line-through">
      ৳{{ item.variant.compare_at_price | money_without_currency }}
    </dd>
    <dd class="cart-drawer__item-discount-percent text-brand fs-16-lh-22-ls-0 fw-400">
      {{ discount_percentage }}%
    </dd>
  </dl>
{% else %}
  <span class="cart-drawer__item-price text-brand fs-16-lh-22-ls-0 fw-400">{{ item.variant.price | money }}</span>
{% endif %}