<cart-note class="cart-note pt-16">
  <div class="cart-note__wrapper">
    {% assign label = 'sections.cart.note_label' | t %}
    {% render "textarea", id: "{{ id }}", name: "note", label: label  %}
  </div>
</cart-note>

<div class="flex flex-col gap-8">
  <h2 class="ff-general-sans fw-400 fs-17-lh-24-ls-0">{{ 'customer.order.summary' | t }}</h2>
  
  <div class="flex flex-col">
    <div class="flex justify-between">
      <h3 class="totals__subtotal ff-general-sans fs-14-lh-24-ls-0 fw-400 text-label">{{ 'customer.order.subtotal' | t }}</h3>
      <p class="totals__subtotal-value fs-14-lh-20-ls-0_1 fw-400 text-secondary">৳{{ cart.total_price | money_without_currency }}</p>
    </div>
    <div class="flex justify-between pt-12 pb-12 border-top-none border-right-none border-left-none border-b border-solid border-color">
      <h3 class="totals__discount ff-general-sans fs-14-lh-24-ls-0 fw-400 text-label">{{ 'customer.order.discount' | t }}</h3>
      <p class="totals__discount-value fs-14-lh-20-ls-0_1 fw-400 text-brand">৳{{ cart.total_discount | money_without_currency }}</p>
    </div>
    <div class="flex justify-between pt-8 pb-16">
      <h3 class="grand-total ff-general-sans fw-400 fs-17-lh-24-ls-0">{{ 'customer.order.grand_total' | t }}</h3>
      <p class="grand-total-value fs-17-lh-24-ls-0 fw-400">৳{{ cart.original_total_price | money_without_currency }}</p>
    </div>
  </div>
</div>