<style>

  #password-toggle-eye-open-{{ id }},
   #password-toggle-eye-open-{{ id }} {
     stroke: rgba(var(--color-primary-text), 0.7);
   }

   #password-toggle-eye-close-{{ id }} {
     display: none;
   }
</style>

<div class="relative {{ class }} ">
  <input
    type="{{ type | default: 'text' }}"
    id="{{ id }}"
    name="{{ name }}"
    value="{{ value }}"
    autocomplete="off"
    placeholder=" "
    class=" fs-14-lh-20-ls-0_1 ff-general-sans fw-500"
    autocomplete="{{ autocomplete }}"
    {% if type == 'password' %}
      data-password-field="true"
    {% endif %}
    {% if required %}
      required aria-required="true"
    {% endif %}
    {% if invalid %}
      aria-invalid="true"
    {% endif %}
    {% if extra_attributes %}
      {{ extra_attributes }}
    {% endif %}
  >
  <label class=" fs-14-lh-20-ls-0_1 ff-general-sans fw-600" for="{{ id }}">{{ label }}</label>

  {% if type == 'password' %}
    <span
      type="button"
      class="password-toggle-eye-open toggle-password absolute right-12 top-50pct translate-y--50 cursor-pointer h-28 w-28 p-0 flex items-center justify-center"
      data-target="{{ id }}"
      id="password-toggle-eye-open-{{ id }}"
    >
      {% render 'open-eye' %}
    </span>
    <span
      type="button"
      class="password-toggle-eye-close toggle-password absolute right-12 top-50pct translate-y--50 cursor-pointer h-28 w-28 p-0 flex items-center justify-center"
      data-target="{{ id }}"
      id="password-toggle-eye-close-{{ id }}"
    >
      {% render 'close-eye' %}
    </span>
  {% endif %}
</div>
