<h1>Customer order size : {{ customer.orders.size }}</h1>

{% paginate customer.orders by 10 %}
  <div class="flex flex-col gap-24 overflow-hidden">
    <div>
      <h2 class="m-0 ff-general-sans fs-23-lh-24-ls-0 fw-500">{{ 'customer.order.title' | t }}</h2>
    </div>

    {%- if customer.orders.size > 0 -%}
      <div class="block sm:hidden">
        <table role="table" class="w-full">
          <thead role="rowgroup">
            <tr role="row" class="h-48">
              <th
                scope="col"
                role="columnheader"
                class="pt-0 pb-0 pl-12 pr-12 fs-16-lh-16-ls-0 fw-500 ff-general-sans text-primary-70pct text-left"
              >
                {{ 'customer.order.order_number' | t }}
              </th>
              <th
                scope="col"
                role="columnheader"
                class="pt-0 pb-0 pl-12 pr-12 fs-16-lh-16-ls-0 fw-500 ff-general-sans text-primary-70pct text-left"
              >
                {{ 'customer.order.date' | t }}
              </th>
              <th
                scope="col"
                role="columnheader"
                class="pt-0 pb-0 pl-12 pr-12 fs-16-lh-16-ls-0 fw-500 ff-general-sans text-primary-70pct text-left"
              >
                {{ 'customer.order.payment_type' | t }}
              </th>
              <th
                scope="col"
                role="columnheader"
                class="pt-0 pb-0 pl-12 pr-12 fs-16-lh-16-ls-0 fw-500 ff-general-sans text-primary-70pct text-left"
              >
                {{ 'customer.order.quantity' | t }}
              </th>
              <th
                scope="col"
                role="columnheader"
                class="pt-0 pb-0 pl-12 pr-12 fs-16-lh-16-ls-0 fw-500 ff-general-sans text-primary-70pct text-left"
              >
                {{ 'customer.order.fulfillment-status' | t }}
              </th>
              <th
                scope="col"
                role="columnheader"
                class="pt-0 pb-0 pl-12 pr-12 fs-16-lh-16-ls-0 fw-500 ff-general-sans text-primary-70pct text-left"
              >
                {{ 'customer.order.total' | t }}
              </th>
              <th
                scope="col"
                role="columnheader"
                class="pt-0 pb-0 pl-12 pr-12 fs-16-lh-16-ls-0 fw-500 ff-general-sans text-primary-70pct text-left"
              >
                {{ 'customer.order.action' | t }}
              </th>
            </tr>
          </thead>
          <tbody role="rowgroup">
            {%- for order in customer.orders -%}
              <tr role="row" class="h-48 border-b border-gray-100">
                <td role="cell" class="pt-0 pb-0 pl-12 pr-12">
                  <a
                    href="{{ order.customer_url }}"
                    class="order-number ff-general-sans fw-600 fs-16-lh-24-ls-0 text-brand"
                  >
                    #{{ order.order_number | default: order.name | remove: '#' }}
                  </a>
                </td>
                <td role="cell" class="pt-0 pb-0 pl-12 pr-12">
                  <span class="ff-general-sans fw-400 fs-16-lh-24-ls-0">
                    {{- order.created_at | date: '%B %d, %y' -}}
                  </span>
                </td>
                <td role="cell" class="pt-0 pb-0 pl-12 pr-12">
                  {% render 'order-financial-status', order: order %}
                </td>
                <td role="cell" class="pt-0 pb-0 pl-12 pr-12">
                  <span class="ff-general-sans fw-400 fs-16-lh-24-ls-0">{{ order.line_items.size }}</span>
                </td>
                <td role="cell" class="pt-0 pb-0 pl-12 pr-12">
                  <span
                    class="delivery-status ff-general-sans fw-400 fs-16-lh-24-ls-0"
                  >
                    {{ order.fulfillment_status }}
                  </span>

                  {% comment %} {{ order.order_status_url }} {% endcomment %}
                </td>
                <td role="cell" class="pt-0 pb-0 pl-12 pr-12">
                  <span class="ff-general-sans fw-400 fs-16-lh-24-ls-0 flex gap-4">
                    {%- render 'price-display', money_value: order.total_net_amount, currency_object: order.currency -%}
                  </span>
                </td>
                <td role="cell" class="pt-0 pb-0 pl-12 pr-12">
                  <div>
                    <a href="{{ order.customer_url }}" class="action-btn view-btn text-brand" title="View Order">
                      {% render 'eye-icon' %}
                    </a>
                  </div>
                </td>
              </tr>
            {%- endfor -%}
          </tbody>
        </table>
      </div>

      <!-- Mobile Card View -->
      <div class="hidden sm:flex gap-24 flex-col ">
        {%- for order in customer.orders -%}
          <div class="border border-solid border-color  rounded-12 ">
            <!-- Order Header -->
            <div class="sm:pl-16 sm:pr-16 ">
              <div class="sm:pt-9 sm:pb-9 flex justify-between items-start border-b border-b-color border-b-solid">
                <div class="flex items-center gap-6">
                  <a
                    href="{{ order.customer_url }}"
                    class="ff-general-sans fw-600 fs-16-lh-24-ls-0 text-brand"
                  >
                    #{{ order.order_number | default: order.name | remove: '#' }}
                  </a>
                  <span class="ff-general-sans fw-400 fs-14-lh-20-ls-0 fw-400 ">
                    {{- order.created_at | date: '%B %d, %y' -}}
                  </span>
                </div>
                <div class="flex items-center gap-4">
                  {% render 'order-financial-status', order: order %}
                </div>
              </div>
            </div>

            <div class="flex justify-between items-start  gap-12 sm:pt-9 sm:pb-9 sm:pt-9 sm:pb-9 sm:pl-16 sm:pr-16 ">
              <div class="ff-general-sans fw-400 fs-16-lh-24-ls-0 ">
                {{ order.line_items.size }}
              </div>

              <div
                class="delivery-status ff-general-sans fw-400 fs-16-lh-24-ls-0 "
                data-order-id="gid://shopify/Order/{{ order.id }}"
              >
                <!-- Will be populated via batch API call -->
              </div>
              <div class="ff-general-sans fw-400 fs-16-lh-24-ls-0 ">
                ৳
                {{- order.total_net_amount | money_without_currency -}}
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>

    {%- else -%}
      <div>
        <p class="ff-general-sans fs-23-lh-24-ls-0 fw-600 text-center">
          {{ 'customer.order.none' | t }}
        </p>
      </div>
    {%- endif -%}

    {% render 'pagination', paginate: paginate, section_id: 'orders-section', class: 'justify-end' %}
  </div>
{% endpaginate %}
