<style>
  .pagination-btn.active {
    border-color: rgb(var(--color-primary-brand));
    color: rgb(var(--color-primary-brand))
  }
  .pagination-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .review-tab.active-tab {
    border-bottom: 2px solid rgb(var(--color-primary-brand));
    color: rgb(var(--color-primary-brand));
  }
</style>

<div class="review-page-container flex flex-col gap-24">
  <h2 class="ff-general-sans fw-500 fs-23-lh-24-ls-0 text-left text-primary">{{ 'review.title' | t }}</h2>

  <div class="review-tabs flex gap-24">
    <button id="to-review-tab" class="review-tab active-tab cursor-pointer border-top-none border-right-none border-left-none border-bottom-none bg-bg text-label fs-16-lh-20-ls-0_1 fw-500 pt-12 pb-12" data-tab="to_review">{{ 'review.tabs.review' | t }}</button>
    <button id="reviewed-tab" class="review-tab cursor-pointer border-top-none border-right-none border-left-none border-bottom-none bg-bg text-label fs-16-lh-20-ls-0_1 fw-500 pt-12 pb-12" data-tab="reviewed">{{ 'review.tabs.reviewed' | t }}</button>
  </div>

  <div id="review-loader">
    <p class="fw-500 fs-14-lh-16-ls-0">{{ 'review.loading' | t }}</p>
  </div>
  <table class="review-desktop-view table sm:hidden" style="display: none;">
    <thead>
      <tr class="h-48">
        <th class="fs-16-lh-16-ls-0 fw-500 ff-general-sans text-primary-70pct">{{ 'review.table.product' | t }}</th>
        <th id="rating-header" class="fs-16-lh-16-ls-0 fw-500 ff-general-sans text-primary-70pct text-center w-110">{{ 'review.table.rating' | t }}</th>
        <th class="fs-16-lh-16-ls-0 fw-500 ff-general-sans text-primary-70pct text-right">{{ 'review.table.action' | t }}</th>
      </tr>
    </thead>
    <tbody id="customer-review-items-desktop">
    </tbody>
  </table>
  <div id="customer-review-items-mobile" class="review-mobile-view hidden sm:flex flex-col gap-24" style="display: none;">
  </div>
  <div id="empty-review-message" style="display: none;">
    <p class="fw-500 fs-14-lh-16-ls-0">{{ 'review.empty' | t }}</p>
  </div>
  
  <div id="pagination-controls" class="flex justify-end items-center gap-8" style="display: none;">
  </div>
</div>

{%- render 'product-review-form', section_id: 'customer-review-modal', product: customer.orders.first.line_items.first.product, customer: customer, initial_classes: 'hidden' -%}

<script src="{{ 'reviews.js' | asset_url }}" defer></script>