<div class="relative {{ class }}">
  <textarea placeholder=" " id="{{ id }}" {% if required == true %}required{% endif %} name="{{ name }}" class="p-16  fs-14-lh-20-ls-0_1 ff-general-sans fw-500 text-label w-full h-96 border-1 border-solid border-color rounded-12 {{ cls }}"></textarea>
  <label class="fs-14-lh-20-ls-0_1 ff-general-sans fw-600" for="{{ id }}">{{ label }}</label>
</div>