<div class="wishlist-page-container flex flex-col gap-24">
  <h2 class="ff-general-sans fw-500 fs-23-lh-24-ls-0 text-left">{{ 'wishlist.title' | t }}</h2>

  <div id="wishlist-loader">
    <p class="fw-500 fs-14-lh-16-ls-0">{{ 'wishlist.loading' | t }}</p>
  </div>
  
  <table class="wishlist-table" style="display: none;">
    <thead>
      <tr class="h-48">
        <th class="fw-500 fs-16-lh-20-ls-0_1 pt-0 pb-0 pl-12 pr-12">{{ 'wishlist.table.image' | t }}</th>
        <th class="fw-500 fs-16-lh-20-ls-0_1 pt-0 pb-0 pl-12 pr-12">{{ 'wishlist.table.name' | t }}</th>
        <th class="fw-500 fs-16-lh-20-ls-0_1 pt-0 pb-0 pl-12 pr-12">{{ 'wishlist.table.price' | t }}</th>
        <th class="wishlist-actions fw-500 fs-16-lh-20-ls-0_1 text-right pt-0 pb-0 pl-12 pr-12">{{ 'wishlist.table.action' | t }}</th>
      </tr>
    </thead>
    <tbody id="customer-wishlist-items">
    </tbody>
  </table>

  <div id="empty-wishlist-message" style="display: none;">
    <p>{{ 'wishlist.empty' | t }}</p>
  </div>
</div>

<script src="{{ 'wishlist.js' | asset_url }}" defer></script>
