{% if customer %}
  <button
    class="wishlist-btn cursor-pointer {% if button_text != blank %}bg-transparent border-none p-0 fs-12-lh-16-ls-0_6 fw-400{% else %}bg-bg border-0_727 border-solid border-color rounded-full{% endif %} flex justify-center items-center {{ cls }}"
    data-product-handle="{{ product.handle }}"
    data-product-id="{{ product.id }}"
    aria-label="Add to Wishlist"
  >
    {% if button_text != blank %}
      <span class="wishlist-icon-default inline-block">
        {{ button_text }}
      </span>
    {% else %}
      <span class="wishlist-icon-default inline-block">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.98455 8.97461C2.98455 6.10742 4.96893 4.10742 7.52361 4.10742C9.00799 4.10742 10.1799 4.80273 10.8752 5.82617C11.5783 4.79492 12.7424 4.10742 14.2267 4.10742C16.7892 4.10742 18.7658 6.10742 18.7658 8.97461C18.7658 12.3184 15.9689 15.6152 11.6017 18.4277C11.3674 18.5762 11.0783 18.7246 10.8752 18.7246C10.6799 18.7246 10.383 18.5762 10.1486 18.4277C5.78143 15.6152 2.98455 12.3184 2.98455 8.97461ZM4.55486 8.97461C4.55486 11.7402 7.43768 14.7949 10.7267 16.9824C10.7971 17.0293 10.8439 17.0605 10.8752 17.0605C10.9064 17.0605 10.9533 17.0293 11.0236 16.9824C14.3127 14.7949 17.1955 11.7402 17.1955 8.97461C17.1955 6.99023 15.8908 5.6543 14.1408 5.6543C12.7346 5.6543 11.9689 6.52148 11.4455 7.26367C11.2111 7.56836 11.0783 7.67773 10.8752 7.67773C10.6721 7.67773 10.5236 7.57617 10.3049 7.26367C9.81268 6.51367 9.02361 5.6543 7.60955 5.6543C5.85955 5.6543 4.55486 6.99023 4.55486 8.97461Z" fill="#90989C"/>
        </svg>
      </span>
      <span class="wishlist-icon-active hidden">
        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.8145 0.744141C25.4502 0.744141 32.4512 7.74513 32.4512 16.3809C32.4512 25.0166 25.4502 32.0176 16.8145 32.0176C8.17873 32.0176 1.17773 25.0166 1.17773 16.3809C1.17773 7.74513 8.17873 0.744141 16.8145 0.744141Z" fill="white"/>
          <path d="M16.8145 0.744141C25.4502 0.744141 32.4512 7.74513 32.4512 16.3809C32.4512 25.0166 25.4502 32.0176 16.8145 32.0176C8.17873 32.0176 1.17773 25.0166 1.17773 16.3809C1.17773 7.74513 8.17873 0.744141 16.8145 0.744141Z" stroke="#EFEEEC" stroke-width="0.727273"/>
          <path d="M8.92401 14.3555C8.92401 11.4883 10.9084 9.48828 13.4631 9.48828C14.9474 9.48828 16.1193 10.1836 16.8146 11.207C17.5178 10.1758 18.6818 9.48828 20.1662 9.48828C22.7287 9.48828 24.7053 11.4883 24.7053 14.3555C24.7053 17.6992 21.9084 20.9961 17.5412 23.8086C17.3068 23.957 17.0178 24.1055 16.8146 24.1055C16.6193 24.1055 16.3224 23.957 16.0881 23.8086C11.7209 20.9961 8.92401 17.6992 8.92401 14.3555ZM10.4943 14.3555C10.4943 17.1211 13.3771 20.1758 16.6662 22.3633C16.7365 22.4102 16.7834 22.4414 16.8146 22.4414C16.8459 22.4414 16.8928 22.4102 16.9631 22.3633C20.2521 20.1758 23.1349 17.1211 23.1349 14.3555C23.1349 12.3711 21.8303 11.0352 20.0803 11.0352C18.674 11.0352 17.9084 11.9023 17.3849 12.6445C17.1506 12.9492 17.0178 13.0586 16.8146 13.0586C16.6115 13.0586 16.4631 12.957 16.2443 12.6445C15.7521 11.8945 14.9631 11.0352 13.549 11.0352C11.799 11.0352 10.4943 12.3711 10.4943 14.3555Z" fill="#FB6F92"/>
        </svg>
      </span>
    {% endif %}
  </button>
{% else %}
  <a
    class="cursor-pointer {% if button_text != blank %}border-none bg-transparent fs-12-lh-16-ls-0_6 fw-400{% else %}bg-bg border-0_727 border-solid border-color rounded-full{% endif %} flex justify-center items-center text-primary {{ cls }}"
    href="{{ routes.account_login_url }}"
    aria-label="Log in to add to Wishlist"
  >
    {% if button_text != blank %}
      {{ button_text }}
    {% else %}
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.98455 8.97461C2.98455 6.10742 4.96893 4.10742 7.52361 4.10742C9.00799 4.10742 10.1799 4.80273 10.8752 5.82617C11.5783 4.79492 12.7424 4.10742 14.2267 4.10742C16.7892 4.10742 18.7658 6.10742 18.7658 8.97461C18.7658 12.3184 15.9689 15.6152 11.6017 18.4277C11.3674 18.5762 11.0783 18.7246 10.8752 18.7246C10.6799 18.7246 10.383 18.5762 10.1486 18.4277C5.78143 15.6152 2.98455 12.3184 2.98455 8.97461ZM4.55486 8.97461C4.55486 11.7402 7.43768 14.7949 10.7267 16.9824C10.7971 17.0293 10.8439 17.0605 10.8752 17.0605C10.9064 17.0605 10.9533 17.0293 11.0236 16.9824C14.3127 14.7949 17.1955 11.7402 17.1955 8.97461C17.1955 6.99023 15.8908 5.6543 14.1408 5.6543C12.7346 5.6543 11.9689 6.52148 11.4455 7.26367C11.2111 7.56836 11.0783 7.67773 10.8752 7.67773C10.6721 7.67773 10.5236 7.57617 10.3049 7.26367C9.81268 6.51367 9.02361 5.6543 7.60955 5.6543C5.85955 5.6543 4.55486 6.99023 4.55486 8.97461Z" fill="#90989C"/>
      </svg>
    {% endif %}
  </a>
{% endif %}