
<style>
  .collections-showcase {
    width: 100%;
    padding: 88px 0;
  }

  @media screen and (max-width: 768px) {
    .collections-showcase {
      padding: 16px 0;
    }
  }

  .collections-showcase__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .collections-showcase__item {
    position: relative;
    height: 600px;
  }

  .collections-showcase__image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .collections-showcase__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .collections-showcase__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .collections-showcase__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 4.89%, #000 100%);
    padding: 34px 16px 40px 16px;
  }

  .collections-showcase__card-title {
    color: rgb(var(--color-background));
  }

  .collections-showcase--desktop {
    display: grid;
  }

  .collections-showcase--mobile {
    display: none;
  }

  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    .collections-showcase__item {
      height: 500px;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1023px) {
    .collections-showcase__item {
      height: 400px;
    }
  }

  @media screen and (max-width: 768px) {
    .collections-showcase--desktop {
      display: none;
    }

    .collections-showcase--mobile {
      display: grid;
    }

    .collections-showcase__item {
      width: 421px;
      height: 224px
    }
  }
</style>


<!-- sections/collections-showcase.liquid -->
<div class="collections-showcase collections-showcase-{{ section.id }}">
  <div class="page-width flex flex-col gap-48 sm:gap-24">
    {% if section.settings.section_title != blank %}
      <h2 class="collections-showcase__title text-center fs-36-lh-40-ls-0 sm:fs-21-lh-24-ls-1_2pct ff-bebas-neue">{{ section.settings.section_title }}</h2>
    {% endif %}

    <div class="collections-showcase__grid collections-showcase--desktop grid">
      {% for block in section.blocks %}
        {% assign collection = collections[block.settings.collection] %}
        <div class="collections-showcase__item" {{ block.shopify_attributes }}>
          {% if collection.featured_image  %}
            <div 
              class="collections-showcase__image-wrapper media block relative"
              style="padding-top: 100%;"
            >
              {% assign image = collection.featured_image %}
              {%- capture sizes %}{% render 'sizes-attribute', grid: true, min: 1, sm: 2, lg: 3, xl: 3 %}{% endcapture -%}

              {% render 'image',
                image: image,
                alt_text: block.settings.collection.title,
                widths: '421.33, 421.33, 421.33, 421.33',
                src_width: 421.33,
                sizes: sizes,
                class: 'img-fit',
                quality: 1
              %}
              <div class="collections-showcase__overlay"></div>
            </div>
          {% endif %}
          
          <div class="collections-showcase__content flex flex-col items-center gap-9">
            <h3 class="collections-showcase__card-title fw-400 fs-36-lh-40-ls-0 uppercase">{{ collection.title }}</h3>
            
            {% if block.settings.button_text != blank %}
              {% render "link-button", url: collection.url, button_text: block.settings.button_text %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

     <slideshow-component
      data-autoplay="{{ section.settings.autoplay }}"
      data-autoplay-delay="{{ section.settings.autoplay_delay | default: 5000 }}"
      data-pause-on-hover="{{ section.settings.pause_on_hover }}"
      data-slides-per-view-desktop="3"
      data-show-partial-slides="true"
      data-show-progress-bar="true"
      data-carousel-mode="true"
      data-slide-width-mobile="421px"
      data-slide-width-tablet="421px"
      data-slide-width-desktop="421px"
      class="collections-showcase--mobile"
    >
      <div class="swiper-container">
        <div class="swiper-wrapper flex gap-8">
          {% for block in section.blocks %}
            <div class="swiper-slide">
              {% assign collection = collections[block.settings.collection] %}
              <div class="collections-showcase__item" {{ block.shopify_attributes }}>
                {% if collection.featured_image  %}
                  <div
                    class="collections-showcase__image-wrapper media block relative"
                    style="padding-top: 100%;"
                  >
                    {% assign image = collection.featured_image %}
                    {%- capture sizes %}{% render 'sizes-attribute', grid: true, min: 2, sm: 2, lg: 2, xl: 2 %}{% endcapture -%}
                    {% render 'image',
                      image: image,
                      alt_text: block.settings.collection.title,
                      widths: '421.33, 421.33, 421.33, 421.33',
                      src_width: 421.33,
                      sizes: sizes,
                      class: 'img-fit',
                      quality: 1
                    %}
                    <div class="collections-showcase__overlay"></div>
                  </div>
                {% endif %}
              
                <div class="collections-showcase__content flex flex-col items-center gap-9">
                  <h3 class="collections-showcase__card-title fw-400 fs-36-lh-40-ls-0 sm:fs-26-lh-40-lh-0 uppercase">{{ collection.title }}</h3>
              
                  {% if block.settings.button_text != blank %}
                    {% render "link-button", url: collection.url, button_text: block.settings.button_text %}
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        {% render 'slideshow-progress-bar' %}
      </div>
    </slideshow-component>
  </div>
</div>

{% schema %}
{
  "name": "Collections Showcase",
  "tag": "section",
  "class": "section-collections-showcase",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Categories"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "default": false,
      "label": "Auto-rotate slides"
    },
    {
      "type": "range",
      "id": "autoplay_delay",
      "min": 2000,
      "max": 9000,
      "step": 500,
      "default": 5000,
      "label": "Change slides every",
      "unit": "ms"
    },
    {
      "type": "checkbox",
      "id": "pause_on_hover",
      "default": true,
      "label": "Pause on hover"
    }
  ],
  "blocks": [
    {
      "type": "collection_item",
      "name": "Collection Item",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Shop Now"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections Showcase",
      "blocks": [
        {
          "type": "collection_item",
          "settings": {
            "button_text": "Shop Now"
          }
        },
        {
          "type": "collection_item",
          "settings": {
            "button_text": "Shop Now"
          }
        },
        {
          "type": "collection_item",
          "settings": {
            "button_text": "Shop Now"
          }
        }
      ]
    }
  ]
}
{% endschema %}