<div class="collections-showcase collections-showcase-{{ section.id }} pt-88 pb-88 sm:pt-16 sm:pb-16">
  <div class="page-width flex flex-col gap-48 sm:gap-24">
    {% if section.settings.section_title != blank %}
      <h2 class="collections-showcase__title text-center fs-36-lh-40-ls-0 sm:fs-21-lh-24-ls-1_2pct ff-bebas-neue">{{ section.settings.section_title }}</h2>
    {% endif %}

    <div class="collections-showcase__grid collections-showcase--desktop grid sm:hidden grid-cols-3">
      {% for block in section.blocks %}
        {% assign collection = collections[block.settings.collection] %}
        <div class="collections-showcase__item relative h-600 lg:h-500 md:h-300" {{ block.shopify_attributes }}>
          {% if collection != empty and collection.featured_image %}
            <div 
              class="collections-showcase__image-wrapper h-600 lg:h-500 md:h-300 media block relative"
            >
              {% assign image = collection.featured_image %}
              {%- capture sizes %}{% render 'sizes-attribute', grid: true, min: 1, sm: 2, lg: 3, xl: 3 %}{% endcapture -%}

              {% render 'image',
                image: image,
                alt_text: block.settings.collection.title,
                widths: '421, 421, 421, 421',
                src_width: 421,
                sizes: sizes,
                class: 'img-fit',
                quality: 1
              %}
              <div class="collections-showcase__overlay absolute top-0 left-0 w-full h-full"></div>
            </div>
          {% else %}
            <div class="collections-showcase__image-wrapper">
              {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% endif %}
          
          <div class="collections-showcase__content flex flex-col items-center gap-9 absolute left-0 right-0 bottom-0 text-center z-2 black-gradient pt-34 pr-16 pb-40 pl-16">
            <h3 class="collections-showcase__card-title fw-400 fs-36-lh-40-ls-0 text-bg uppercase">{{ collection.title | default: "Collection Name" }}</h3>
            
            {% if block.settings.button_text != blank %}
              {% render "link-button", url: collection.url, button_text: block.settings.button_text %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

     <slideshow-component
      data-autoplay="{{ section.settings.autoplay }}"
      data-autoplay-delay="{{ section.settings.autoplay_delay | default: 5000 }}"
      data-pause-on-hover="{{ section.settings.pause_on_hover }}"
      data-enable-carousel="true"
      data-show-progress-bar="true"
      data-gap="8"
      class="collections-showcase--mobile hidden sm:block"
    >
      <div class="swiper-container flex flex-col gap-24">
        <div class="swiper-wrapper flex">
          {% for block in section.blocks %}
            <div class="swiper-slide sm:w-180 sm:h-224">
              {% assign collection = collections[block.settings.collection] %}
              <div class="collections-showcase__item sm:w-180 sm:h-224 relative" {{ block.shopify_attributes }}>
                {% if collection != empty and collection.featured_image %}
                  <div
                    class="collections-showcase__image-wrapper media block relative sm:180 sm:h-224"
                  >
                    {% assign image = collection.featured_image %}
                    {%- capture sizes %}{% render 'sizes-attribute', grid: true, min: 2, sm: 2, lg: 2, xl: 2 %}{% endcapture -%}
                    {% render 'image',
                      image: image,
                      alt_text: block.settings.collection.title,
                      widths: '180, 180, 180, 180',
                      src_width: 180,
                      sizes: sizes,
                      class: 'img-fit',
                      quality: 1
                    %}
                    <div class="collections-showcase__overlay absolute top-0 left-0 w-full h-full"></div>
                  </div>
                {% else %}
                  <div class="collections-showcase__image-wrapper">
                    {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {% endif %}
              
                <div class="collections-showcase__content sm:w-180 flex flex-col items-center absolute left-0 right-0 bottom-0 text-center z-2 black-gradient pt-16 pr-16 pb-16 pl-16">
                  <h3 class="collections-showcase__card-title fw-400 fs-36-lh-40-ls-0 sm:fs-26-lh-40-lh-0 text-bg uppercase">{{ collection.title | default: "Collection Name" }}</h3>
              
                  {% if block.settings.button_text != blank %}
                    {% render "link-button", url: collection.url, button_text: block.settings.button_text %}
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        {% render 'slideshow-progress-bar' %}
      </div>
    </slideshow-component>
  </div>
</div>

{% schema %}
{
  "name": "Collections Showcase",
  "tag": "section",
  "class": "section-collections-showcase",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Categories"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "default": false,
      "label": "Auto-rotate slides"
    },
    {
      "type": "range",
      "id": "autoplay_delay",
      "min": 2000,
      "max": 9000,
      "step": 500,
      "default": 5000,
      "label": "Change slides every",
      "unit": "ms"
    },
    {
      "type": "checkbox",
      "id": "pause_on_hover",
      "default": true,
      "label": "Pause on hover"
    }
  ],
  "blocks": [
    {
      "type": "collection_item",
      "name": "Collection Item",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Shop Now"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections Showcase",
      "blocks": [
        {
          "type": "collection_item",
          "settings": {
            "button_text": "Shop Now"
          }
        },
        {
          "type": "collection_item",
          "settings": {
            "button_text": "Shop Now"
          }
        },
        {
          "type": "collection_item",
          "settings": {
            "button_text": "Shop Now"
          }
        }
      ]
    }
  ]
}
{% endschema %}