{% assign image_ratio = 1 %}
<section class="w-full pt-88 pb-88 sm:pt-23 sm:pb-16  ">
  <div class="page-width flex flex-col gap-64">
    {% if section.settings.title != blank %}
      <h2 class="uppercase flex justify-center items-center ff-bebas-neue fw-400 fs-36-lh-40-ls-0 m-0 mobile-fs-21-lh-24-ls-1_2pct">
        {{ section.settings.title }}
      </h2>
    {% endif %}

    <div class="grid grid-cols-5 lg:grid-cols-4 md:grid-cols-3 gap-24 justify-center items-stretch lg:gap-20 md:gap-16 sm:hidden ">
      {% for block in section.blocks %}
        {% if block.settings.collection %}
          <div class="flex flex-col w-full sm:w-116 " {{ block.shopify_attributes }}>
            <a
              href="{{ block.settings.collection.url }}"
              class="flex flex-col no-underline h-full"
            >
              <div
                class="media block relative w-full h-254 "
                style="padding-top: {{ 1 | divided_by: image_ratio | times: 100 }}%;"
              >
                {% if block.settings.collection.featured_image %}
                  {%- capture sizes %}{% render 'sizes-attribute', grid: true, min: 1, sm: 2, lg: 3, xl: 5 %}{% endcapture -%}
                  {% render 'image',
                    image: block.settings.collection.featured_image,
                    widths: '116, 234, 234, 234',
                    src_width: 234,
                    sizes: sizes,
                    class: 'img-fit',
                    quality: 1
                  %}
                {% else %}
                  <div class="w-full h-254">
                    {{ 'collection-1' | placeholder_svg_tag: 'w-full h-254 ' }}
                  </div>
                {% endif %}
              </div>

              <div class="bg-brand pt-12 pb-12 pl-8 pr-8 rounded-t-l-0 rounded-t-r-0 rounded-b-r-32 rounded-b-l-32 sm:pt-4 sm:pb-4 sm:pr-3 sm:pl-3 sm:rounded-b-l-13 sm:rounded-b-r-13">
                <h3 class="text-bg text-center m-0 ff-bebas-neue fw-400 fs-26-lh-26-ls-1_2 mobile-fs-15-lh-16-ls--1_2pct">
                  {% if block.settings.collection.title %}
                    {{ block.settings.collection.title }}
                  {% else %}
                    {{ 'sections.collections_list.default_title' | t }}
                  {% endif %}
                </h3>
              </div>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="hidden sm:block">
      <slideshow-component
        data-autoplay="false"
        data-show-progress-bar="true"
        data-slides-per-view-desktop="3"
        data-single-slide-view="true"
        data-slide-width-mobile="116px"
        data-slide-width-tablet="116px"
        data-slide-width-desktop="116px"
      >
        <div class="swiper-container flex flex-col gap-24 sm:relative sm:pb-20">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              {% if block.settings.collection %}
                <div
                  class="swiper-slide sm:border-box sm:w-116 sm:mr-10"
                  {{ block.shopify_attributes }}
                >
                  <a href="{{ block.settings.collection.url }}" class="flex flex-col no-underline h-full">
                    {% if block.settings.collection.featured_image %}
                      <div
                        class="media block relative w-full h-254 sm:h-90"
                        style="padding-top: {{ 1 | divided_by: image_ratio | times: 100 }}%;"
                      >
                        {%- capture sizes %}{% render 'sizes-attribute', grid: true, min: 1, sm: 2, lg: 3, xl: 5 %}{% endcapture -%}

                        {% render 'image',
                          image: block.settings.collection.featured_image,
                          alt_text: block.settings.collection.title,
                          widths: '116, 234, 234, 234',
                          src_width: 116,
                          sizes: sizes,
                          class: 'img-fit',
                          quality: 1
                        %}
                      </div>
                    {% else %}
                      <div class="w-full h-254 sm:h-90">
                        {{ 'collection-1' | placeholder_svg_tag: 'w-full h-254 sm:h-90' }}
                      </div>
                    {% endif %}

                    <div class="bg-brand sm:pt-4 sm:pb-4 sm:pr-3 sm:pl-3 sm:rounded-b-l-13 sm:rounded-b-r-13">
                      <h3 class="text-bg text-center m-0 mobile-fs-15-lh-16-ls--1_2pct ff-bebas-neue fw-400">
                        {{ block.settings.collection.title | default: 'Collection' }}
                      </h3>
                    </div>
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          {% render 'slideshow-progress-bar' %}
        </div>
      </slideshow-component>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collections List",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Shop Beauty Product By Category"
    }
  ],
  "blocks": [
    {
      "type": "collection_item",
      "name": "Collection",
      "limit": 10,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections List",
      "blocks": [
        {
          "type": "collection_item"
        },
        {
          "type": "collection_item"
        },
        {
          "type": "collection_item"
        },
        {
          "type": "collection_item"
        },
        {
          "type": "collection_item"
        }
      ]
    }
  ]
}
{% endschema %}
