<style>
  #footer-social-icons--mobilesvg {
    width: 24px;
    height: 24px;
  }
</style>

<div class="pb-32 pt-32 bg-secondary-light-20pct sm:hidden">
  <div class="page-width">
    <div class="ff-general-sans fs-16-lh-24-ls-0 flex text-center item-center justify-center flex-wrap sm:justify-left">
      © {{ 'now' | date: '%Y' }}
      {{ shop.name }}
      {{ 'sections.footer.all_right' | t }}
    </div>
  </div>
</div>

<div class="hidden sm:block sm:pt-8 sm:pb-24 bg-bg">
  <div class="page-width  flex flex-col items-left gap-16">
    <div class="ff-general-sans fs-16-lh-24-ls-0 flex text-center item-center justify-center flex-wrap sm:justify-left ">
      © {{ 'now' | date: '%Y' }}
      {{ shop.name -}}
      {{- 'sections.footer.all_right' | t }}
    </div>
    {% if settings.social_facebook != blank
      or settings.social_instagram != blank
      or settings.social_linkedin != blank
      or settings.social_youtube != blank
      or settings.social_tiktok != blank
      or settings.social_twitter != blank
      or settings.social_snapchat != blank
      or settings.social_pinterest != blank
    %}
      <div class="flex">
        <div class=" flex  gap-16 items-center justify-left" id="footer-social-icons--mobile">
          {%- render 'social-icons' -%}
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Copyright Content",
  "enabled_on": {
    "groups": ["footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "Copyright Content"
    }
  ]
}
{% endschema %}
