<article class="blog-section blog-section-{{ section.id }} pt-0 pb-88 pt-16 pb-16">
  <div class="page-width flex flex-col gap-48 sm:gap-16">
    {% if section.settings.blog_title != blank %}
      <div class="blog-section__title fs-36-lh-40-ls-0 ff-bebas-neue fw-400 sm:fs-21-lh-24-ls-1_2pct text-center uppercase">
        {{ section.settings.blog_title }}
      </div>
    {% endif %}

    <!-- Desktop Grid -->
    <div class="
      {% if section.settings.blog.articles.size == 1 %}grid-cols-1{% endif %}
      {% if section.settings.blog.articles.size == 2 %}grid-cols-2{% endif %}
      {% if section.settings.blog.articles.size == 3 %}grid-cols-3{% endif %}
      {% if section.settings.blog.articles.size == 4 %}grid-cols-4{% endif %} 
      grid gap-16 sm:hidden">
      {% for article in section.settings.blog.articles limit: section.settings.blog_post_limit %}
        <div class="flex flex-col gap-16 sm:gap-8">
          <div class="h-154 relative w-full">
            {% if article.image %}
              {%- capture sizes %}{% render 'sizes-attribute' %}{% endcapture -%}
              <div
                class="media w-full"
                style="padding-top: {{ 1 | divided_by: image_ratio | times: 100 }}%;"
              >
                {% render 'image',
                  image: article.image,
                  widths: '304, 304, 304, 304',
                  src_width: 304,
                  sizes: sizes,
                  class: 'img-fit',
                  quality: 1
                %}
              </div>
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'blog-card__image' }}
            {% endif %}
          </div>
          <div class="flex flex-col gap-8">
            <h3 class="ff-general-sans fs-23-lh-24-ls-0 fw-500 sm:fs-17-lh-24-ls-0 m-0">
              {{ article.title }}
            </h3>
            <p class="m-0 text-label-light ff-general-sans fs-14-lh-20-ls-0 fw-400">
              {{ article.content | strip_html | truncatewords: 20 }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Mobile Swiper -->
    <div class="hidden sm:block relative pb-20">
      <slideshow-component
        data-autoplay="false"
        data-show-progress-bar="false"
        data-enable-carousel="true"
        data-gap="16"
      >
        <div class="swiper-container overflow-hidden flex flex-col gap-16">
          <div class="swiper-wrapper">
            {% for article in section.settings.blog.articles limit: section.settings.blog_post_limit %}
              <div class="swiper-slide w-auto-priority blog-card flex flex-col gap-16 sm:gap-8">
                <div class="h-154 relative w-full">
                  {% if article.image %}
                    {%- capture sizes %}{% render 'sizes-attribute' %}{% endcapture -%}
                    <div
                      class="media w-full"
                      style="padding-top: {{ 1 | divided_by: image_ratio | times: 100 }}%;"
                    >
                      {% render 'image',
                        image: article.image,
                        widths: '304, 304, 304, 304',
                        src_width: 304,
                        sizes: sizes,
                        class: 'img-fit',
                        quality: 1
                      %}
                    </div>
                  {% else %}
                    {{ 'image' | placeholder_svg_tag: 'blog-card__image' }}
                  {% endif %}
                </div>
                <div class="flex flex-col gap-8 sm:gap-4">
                  <h3 class="ff-general-sans fs-23-lh-24-ls-0 sm:fs-17-lh-24-ls-0 fw-500 m-0">{{ article.title }}</h3>
                  <p class="m-0 text-label-light ff-general-sans fs-14-lh-20-ls-0 fw-400">
                    {{ article.content | strip_html | truncatewords: 20 }}
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </slideshow-component>
    </div>
  </div>
</article>

{% schema %}
{
  "name": "Blog",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Select Blog"
    },
    {
      "type": "text",
      "id": "blog_title",
      "label": "Section Title",
      "default": "Our Blog"
    },
    {
      "type": "range",
      "id": "blog_post_limit",
      "label": "Number of blog posts to show",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Blog"
    }
  ]
}
{% endschema %}
