{{ 'footer.css' | asset_url | stylesheet_tag }}

<footer class="pt-64 pb-4 sm:pt-40">
  <div class="flex flex-col pt-0 pl-6pct pr-6pct gap-16 sm:pl-3pct sm:pr-3pct">
    <div class="flex justify-between items-start   gap-32 sm:flex-col sm:gap-16">
      <div class="flex flex-col flex-2 gap-32">
        {% if settings.brand_logo != blank %}
          <img
            src="{{ settings.brand_logo | image_url: width: settings.logo_width }}"
            alt="{{ settings.logo_alt_text | default: shop.name | escape }}"
            loading="lazy"
            class=" max-w-full"
            width="{{ settings.logo_width }}"
            height="{{ settings.logo_height }}"
          >
        {% else %}
          <h1 class="m-0">{{ settings.logo_text }}</h1>
        {% endif %}

        <div class="flex flex-col gap-8 sm:hidden">
          {% render 'google-play-icon' %}
          {% render 'app-store-icon' %}
        </div>
      </div>

      {% for block in section.blocks %}
        {% if block.type == 'link_list' and block.settings.menu != blank %}
          <div class="flex flex-col flex-1 gap-16 m-0 sm:w-full sm:border-bottom-10pct sm:gap-8 ">
            <div class=" sm:flex sm:justify-between sm:items-center sm:cursor-pointer ">
              <h3 class=" fs-16-lh-24-ls-0 ff-general-sans fw-400 m-0 text-primary-70pct ">
                {{ block.settings.menu.title }}
              </h3>
              <button
                class="footer__menu-toggle hidden sm:bg-none sm:flex sm:items-center sm:justify-center sm:border-none sm:cursor-pointer sm:p-4 text-primary-70pct sm:transition-all-3ms"
                aria-expanded="false"
                aria-controls="menu-{{ forloop.index }}"
              >
                {% render 'icon-plus' %}
                {% render 'icon-minus' %}
              </button>
            </div>
            <div
              class="footer__menu-list flex flex-col m-0 gap-16 sm:max-h-0 sm:overflow-hidden sm:transition-max-height-3ms sm:mt-0"
              id="menu-{{ forloop.index }}"
            >
              {% for link in block.settings.menu.links %}
                <h2 class="m-0">
                  <a href="{{ link.url }}" class=" ff-inter fs-16-lh-24-ls-0 fw-500 no-underline text-primary ">
                    {{- link.title -}}
                  </a>
                </h2>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}

      {% if settings.social_facebook != blank
        or settings.social_instagram != blank
        or settings.social_linkedin != blank
        or settings.social_youtube != blank
        or settings.social_tiktok != blank
        or settings.social_twitter != blank
        or settings.social_snapchat != blank
        or settings.social_pinterest != blank
      %}
        <div class=" flex flex-col flex-1 footer__social-desktop gap-16 sm:hidden">
          <div class=" sm:flex sm:justify-between sm:items-center sm:cursor-pointer">
            <h2 class=" fs-16-lh-24-ls-0 ff-general-sans fw-400 m-0 text-primary-70pct">
              {{ 'sections.footer.social_media' | t }}
            </h2>
            <button
              class="footer__social-toggle hidden sm:bg-none sm:flex sm:items-center sm:justify-center sm:border-none sm:cursor-pointer sm:p-4 text-primary-70pct sm:transition-all-3ms"
              aria-expanded="false"
              aria-controls="social-menu"
            >
              {% render 'icon-plus' %}
              {% render 'icon-minus' %}
            </button>
          </div>
          <div
            class="footer__social-list flex flex-col m-0 gap-16 sm:max-h-0 sm:overflow-hidden sm:transition-max-height-3ms sm:mt-0"
            id="social-menu"
          >
            {%- render 'social-icons' -%}
          </div>
        </div>
      {% endif %}
    </div>

    <div class="pt-16 pr-0 pb-32 pl-0 sm:pt-8 sm:pb-8 ">
      <img
        src="{{ 'ssl-payment.png' | asset_url }}"
        alt="{{ 'sections.footer.payment_methods_alt' | t }}"
        class="max-w-full h-auto block "
        loading="lazy"
        width="100%"
        height="auto"
      >
    </div>
  </div>
</footer>

<script src="{{ 'footer.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "enabled_on": {
    "groups": ["footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu",
      "limit": 3,
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer",
      "blocks": [
        {
          "type": "link_list"
        },
        {
          "type": "link_list"
        },
        {
          "type": "link_list"
        }
      ]
    }
  ]
}
{% endschema %}
